name: CI/CD

on: push

jobs:
  build:
    name: Docker build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - shell: bash
        run: git describe --tags --abbrev=0 > version.txt

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push images to DockerHub
        uses: docker/build-push-action@v3
        with:
          push: true
          platforms: linux/amd64, linux/arm64/v8, linux/arm/v7
          tags: legobas/mqtt-timer:latest
